<!DOCTYPE html>
<html>
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <!-- <link rel="stylesheet" type="text/css" href="{{asset "styles.css"}}" /> -->
		<link rel="stylesheet" href="{{asset "css/main.css"}}" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header
			<header id="header" class="alt"></header>-->

			<!-- Nav -->
      {{navigation}}

      <!-- Main -->
      <div id="main">

        {{{body}}}

        {{! TODO: move to real footer }}
        <section class="main special">
          <footer class="major">
            <ul class="actions">
              <li><a href="https://www.indivisibleguide.com/download-the-guide" class="button special">Download the Indivisible Guide</a></li>
              <li><a href="{{facebook_url @blog.facebook}}" class="button">Connect on Facebook</a></li>
              <li><a href="{{twitter_url @blog.twitter}}" class="button">Connect on Twitter</a></li>
            </ul>
          </footer>
        </section>
      </div>


      <!-- Footer -->
      <footer id="footer">

      </footer>

    </div>

		<!-- Scripts -->
    <!-- <script src="{{asset "vendor.js"}}" charset="utf-8"></script> -->
    <script src="{{asset "main.js"}}" charset="utf-8"></script>

    {{ghost_foot}}
  </body>
</html>
